@charset "UTF-8";


body{
    min-height:100vh;
    background: rgb(3,104,199);
    background: linear-gradient(180deg, rgba(3,104,199,1) 0%, rgba(98,174,231,1) 49%, rgba(255,227,44,1) 100%);
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳＰゴシック', 'MS PGothic', sans-serif;
}


section{
    background-color:#ccd8ff;
    padding:50px 0;
  }



p.logo img{
    width: 140px;
    height:auto;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}
.header{
    text-align: center;
    margin-top: 100px;
}
.letter{
    color: #FFF;
    font-size: 200%;
    text-align: center;
}
.new-letter{
    margin-top:50px;
    font-size: 80%;
    width:300px;}


.form{
    margin-left:  39vw;
    margin-top: 50px;
}
.form-size{
    background-color:rgba(0,0,0,0.5);;
    border-radius: 30px;
    width: 300px;
}

.form-title{
    padding-top: 30px;
    text-align: center;
    height: 15px;
    color: #FFF;
}
.form-mail-label{
    font-size: small;
    text-align: left;
    margin-top:10px;
    color: #FFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.form-mail-form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
 
}
.form-password-label{
    font-size: small;
    text-align: left;
    margin-top:10px;
    color: #FFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.form-password-form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-form{
text-align: right;
margin-right: 20px;
margin-top: 20px;
}

.form-new-letter2{
    color: #FFF;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: small;

}
.form-new-letter2 a{
    color: #FFF;
    text-align: center;
}

.form-new-letter2 a:hover{
    text-decoration: none;
    color: #FFF;
  }


.new-account{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #FFF;
        padding-top: 30px;
    
}

.new-account-word{
    display: flex;
flex-direction: column;
text-align: center;
color: #FFF;
padding-top: 30px;
}

.new-ac-name{
    margin-bottom: 0.25rem;
}